---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150"
                    alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            <div style="background-color: #953CA3; margin:10px; border-style: none; padding:20px;">
                As you have probably noticed, it's been a long time since I've last uploaded. That's because I'm
                currently taking my yearly pause of computers and all... I find it really important to distance myself
                from this passion every autumn, else I easily start to burn out. I'm also working hard on music at the
                moment, which is another of my passions. <br /> Hopefully, I should be back soon, stay tuned! <br />
                <b> BadByte once, BadByte forever! <b />
            </div>

            {% include social_links.html %}
        </div>
        <div class="col-md-12 main content-panel">

            <div class="articles">

                <h2>Latest Articles</h2>

                <ul>
                    {% for post in site.posts limit: site.post_limit %}

                    <li>
                        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                    </li>

                    {% endfor %}
                    <li>
                        <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>